
@{
    ViewData["Title"] = "Login";
}
<body>
    <div class="container">
      <div class="logo-wapper">
       <img src="../image/logo.png" alt="">
  
      </div>
      <div class="text-header">
        <h1>
          Iniciativa <strong>Vida saudavel</strong>
        </h1>
      </div>
      <div class="formulario-container">
        <div class="form-full">
          <strong class="title">Login Vida saudavel</strong>
          <form class="form" asp-action="Login" method="POST">
            <input
              required
              placeholder="Digite seu login"
              name="login"
            />
            <input
              type="password"
              name="senha"
              required
              placeholder="Digite sua senha"
            />
            <p>Não possui cadastro? <a href="/Usuario/Cadastro" target="_blank">Cadastre-se</a></p>
            <button
              className="mt-4 bg-orange-500 uppercase py-4 rounded font-bold text-sm hover:opacity-60 transition-opacity disabled:opacity-50"
              type="submit"
            >
              Entrar
            </button>
            <p class="text-danger">@ViewData["Erro"]</p>
          </form>
        </div>
      </div >


      <img 
        src="../image/blur-background.png"/>
    </div>
</body>